*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Home page */
.background-home {
  background-image: url('../img/background/Home.png');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

/* Nav */
#brand-img {
  height: 60px;
  width: auto;
}

.nav-bg {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
}